{% extends 'base.html' %}
{% load static %}

{% block title %} E-commerce {% endblock %}


{% block content %}

    <section class="section-intro padding-y-sm">
        <div class="container">

            <div class="intro-banner-wrap">
                <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
            </div>

        </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->

    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
        <div class="container">

            <header class="section-heading">
                <a href="{% url 'product:store' %}" class="btn btn-outline-primary float-right">See all</a>
                <h3 class="section-title">Popular products</h3>
            </header><!-- sect-heading -->


            <div class="row">
                {% for product in products %}
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap">
                            {% if product.main_image %}
                            <img src="media/{{ product.main_image }}">
                            {% else %}
                            <img src="{% static 'images/items/1.jpg' %}">
                            {% endif %}
                        </a>
                        <figcaption class="info-wrap">
                            <a href="{% url 'product:detail' product.pk %}" class="title">{{ product.title }}</a>
                            <div class="price mt-1">${{ product.price }}</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
                {% endfor %}
            </div> <!-- row.// -->

        </div><!-- container // -->
    </section>


{% endblock %}